# $HOME/.gitignore
# ignore all
/*
!/.gitignore

# except arduino script
!/*.ino
!/*.md
# except script in lower folders
!/*/
/*/*
!/*/*.ino
!/*/*.md
# except script in second lower folders
!/*/*/
/*/*/*
!/*/*/*.ino
!/*/*/*.md