# $HOME/.gitignore
# ignore all
/*
!/.gitignore

# allow only arduino sketch and markdown files
!/*.ino
!/*.md

# allow script in lower folders
!/*/
/*/*
!/*/*.ino
!/*/*.md

# allowscript in second lower folders
!/*/*/
/*/*/*
!/*/*/*.ino
!/*/*/*.md

### that's all ###
